$break-small: 770px;
$break-large: 960px;

$main_bg_color: #94e98e;
$sidebar_bg_color: #2cbf68;
$header_bg_color: #c3e990;
$footer_bg_color: #078f54;

$burger_width: 40px;

$header_height: 80px;
$footer_height: 80px;
$nav_open_width: 200px;
$nav_close_width: $burger_width +25;
$nav_close_height: 45px;

*{
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header {
  background-color: $header_bg_color;
  height: $header_height;
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
}

.ulWrapper{
  flex-shrink: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

nav ul{
  list-style: none;
  padding: 0;

  li{
    margin:12px;
  }
}

nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
  background-color: $sidebar_bg_color;
  width: $nav_open_width;
  padding: 10px;
  overflow: auto;

  @media screen and (max-width: $break-large) {
    display: flex;
    flex-direction: column;
    width: $nav_close_width;
    transition: width 0.3s;
    overflow-x: hidden;
  }

  @media screen and (max-width: $break-small) {
    flex-direction: row;
    width: 100%;
    height: $nav_close_height;
    overflow: hidden;
  }
}

.navOpen {
  width: $nav_open_width;
  transition: width 0.3s;
  @media screen and (max-width: $break-small) {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

main {
  background-color: $main_bg_color;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.content {
  margin: 5px auto;
}

footer {
  background-color: $footer_bg_color;
  height: $footer_height;
  flex-shrink: 0;
}

// Гамбургер
.burger {
  flex-shrink: 0;
  cursor: pointer;
  display: none;
  float: left;
  width: $burger_width;

  div {
    border: 3px solid #111;
    margin: 4px;
  }

  @media screen and (max-width: $break-large) {
    display: inline-block;
  }
}

// Гамбургер. конец